<!DOCTYPE html>
<html lang="es">
  <head>      
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FunkoShop</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/variables.css" />
    <link
      rel="shortcut icon"
      href="/img/branding/isotype.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <%- include('../../partials/headerAdmin') %>
    <main class="main_edit">
      <h1>EDITAR ITEM</h1>
      <br />
      <br />
      <form method="post"
      action="/admin/products/<%= product.id %>?_method=PUT"
      enctype="multipart/form-data">
        <div class="renglon1">
          <label for="categoria">Categoria:</label>
          <select name="categoria" id="categoria">
            <% categorias.forEach((categoria)=>{ %>
              <option value="<%= categoria.id %>" <%= product.CategoryId == categoria.id ? 'selected' : '' %>><%= categoria.nombre %></option>
         <% }) %>
          </select>
          <label for="licencia">Licencia:</label>
          <select name="licencia" id="licencia">
            <% licencias.forEach((licencia)=>{ %>
              <option value="<%= licencia.id %>" <%= product.LicenciumId == licencia.id ? 'selected' : '' %>><%= licencia.nombre %></option>
         <% }) %>
          </select>
        </div>
        <br />
        <br />
        <div class="renglon2">
          <label for="">Nombre del producto:</label>
          <input
            class="borde_rojo input_texto input_grande"
            placeholder="Escribe norma del producto"
            value="<%= product.nombre %>"
            name="nombre"
          />
        </div>
        <br />
        <br />
        <div class="3renglon">
          <textarea name="descripcion" id="" placeholder="Descripción del producto">
            <%= product.descripcion %>
          </textarea>
        </div>
        <br />
        <br />
        <div class="4renglon">
          <label for="">SKU:</label>
          <input
            type="text"
            class="borde_rojo input_texto input_mediano"
            name="SKU"
            placeholder="SSK111AB001"
            value="<%= product.SKU %>"
          />
          <label for="">Precio:</label>
          <input
            type="number"
            class="borde_rojo input_texto input_mediano"
            placeholder="$ 0.000,00"
            value="<%= product.precio %>"
            name="precio"
          />
          <label for="">Stock:</label>
          <input
            type="number"
            class="borde_rojo input_texto input_chico"
            placeholder="0"
            value="<%= product.stock %>"
            name="stock"
          />
        </div>
        <br />
        <br />
        <div class="5renglon">
          <label for="">Descuento</label>
          <input
            type="number"
            class="borde_rojo input_texto input_chico"
            placeholder="0%"
            value="<%= product.descuento %>"
            name="descuento"
          />
          <label for="">Cuotas:</label>
          <select name="cuotas" id="">
            <option value="3" <%= product.cuotas === 3 ? 'selected' : '' %>>3 Cuotas sin interes</option>
            <option value="6" <%= product.cuotas === 6 ? 'selected' : '' %>>6 Cuotas sin interes</option>
            <option value="12" <%= product.cuotas === 12 ? 'selected' : '' %>>12 Cuotas sin interes</option>
            <option value="18" <%= product.cuotas === 18 ? 'selected' : '' %>>18 Cuotas sin interes</option>
          </select>
        </div>
        <br />
        <br />
        <div class="6renglon">
          <label for="">Imagenes:</label>
          <input type="file" name="imagenes" id="" multiple />
        </div>
        <br />
        <br />
        <div class="figuras_imagenes">
          <div class="imagenesYTexto">
            <picture>
              <img
                src="/img/productos/<%= product.imagen_front %>"
                class="imagenesfiguras borde_rojo"
              />
            </picture>
            <p>Frente</p>
          </div>
          <div class="imagenesYTexto">
            <picture>
              <img
                src="/img/productos/<%= product.imagen_back %>"
                class="imagenesfiguras borde_rojo"
                alt=""
              />
            </picture>
            <p>Dorso</p>
          </div>
        </div>
        <br />
        <br />
        <input type="submit" class="boton_rojo" value="Modificar Producto" />
      </form>
    </main>
    <%- include('../../partials/footerAdmin') %>
    <script src="/js/index.js"></script>
  </body>
</html>
