<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
</head>
<body>
    <h1>Editar producto</h1>
    <form
    method="post",
    action="/admin/products/<%= product.id %>?_method=PUT"
    >
    <label>Nombre</label>
    <input name="nombre" value="<%= product.nombre %>"></input>
    <label>Precio</label>
    <input name="precio" value="<%= product.precio %>"></input>
    <label>Categoria</label>
    <select name="categoria">
        <% categorias.forEach((categoria)=>{ %>
            <option value="<%= categoria.id %>" <%= product.CategoryId === categoria.id ? 'selected' : '' %>><%= categoria.nombre %></option>
       <% }) %>
    </select>

    <button>editar</button>
</form>
    
</body>
</html>